[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/c9s/bufexplorer.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/autohotkey-ahk"]
	path = bundle/autohotkey-ahk
	url = https://github.com/vim-scripts/autohotkey-ahk.git
[submodule "bundle/CRefVim"]
	path = bundle/CRefVim
	url = https://github.com/vim-scripts/CRefVim.git
[submodule "bundle/DirDiff.vim"]
	path = bundle/DirDiff.vim
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/DoxygenToolkit.vim"]
	path = bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/foldutil.vim"]
	path = bundle/foldutil.vim
	url = https://github.com/vim-scripts/foldutil.vim.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/A_mikeage"]
	path = bundle/A_mikeage
	url = https://github.com/mikeage/vim-mikeage.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-actionscript"]
	path = bundle/vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript.git
[submodule "bundle/mediawiki"]
	path = bundle/mediawiki
	url = https://github.com/mikeage/mediawiki.vim.git
[submodule "bundle/occur"]
	path = bundle/occur
	url = https://github.com/mikeage/occur.vim.git
[submodule "bundle/yankmarks"]
	path = bundle/yankmarks
	url = https://github.com/mikeage/vim-yankmarks.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/weynhamz/vim-plugin-minibufexpl.git
[submodule "bundle/LogViewer"]
	path = bundle/LogViewer
	url = https://github.com/mikeage/LogViewer.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/linediff.vim"]
	path = bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/vim-bbye"]
	path = bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/dart-vim-plugin"]
	path = bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "bundle/salt-vim"]
	path = bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "bundle/arduino-syntax-file"]
	path = bundle/arduino-syntax-file
	url = https://github.com/vim-scripts/Arduino-syntax-file.git
[submodule "bundle/ale-platformio"]
	path = bundle/ale-platformio
	url = https://github.com/meck/ale-platformio.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-log-highlighting"]
	path = bundle/vim-log-highlighting
	url = https://github.com/mtdl9/vim-log-highlighting
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/Jenkinsfile-vim-syntax"]
	path = bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "bundle/Dockerfile.vim"]
	path = bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-lsp"]
	path = bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "bundle/vim-lsp-settings"]
	path = bundle/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "bundle/vim-lsp-ale"]
	path = bundle/vim-lsp-ale
	url = https://github.com/rhysd/vim-lsp-ale.git
[submodule "bundle/asyncomplete.vim"]
	path = bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "bundle/asyncomplete-lsp.vim"]
	path = bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "bundle/git-messenger.vim"]
	path = bundle/git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = https://github.com/glench/vim-jinja2-syntax
[submodule "bundle/vim-groovy"]
	path = bundle/vim-groovy
	url = https://github.com/thecodesmith/vim-groovy.git
